{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">Connexion</h1>
        </div>

        <div class="row">

            <div class="col-12 col-md-8 col-lg-4 mx-auto">

                <form method="POST">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {# champ email #}
                    <div class="mb-3">
                        <label class="form-label" for="inputEmail">Email</label>
                        <input placeholder="alice@exemple.com" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>

                    {# champ mot de passe #}
                    <div class="mb-3">

                        <label class="form-label" for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    </div>

                    {# champ invisible anti CSRF #}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {# Bouton de validation #}
                    <div class="mb-3">
                        <input type="submit" class="btn btn-outline-primary w-100" value="Connexion">
                    </div>

                </form>

            </div>

        </div>

    </div>




{% endblock %}
