{% extends 'base.html.twig' %}

{% block title %}Modification d'une publication{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">Modification d'une publication</h1>
        </div>

        <div class="row">
            <p class="text-center col-12">

                {# TODO : faire le lien #}
                <a href="{{ path('blog_publication_view', {'id': form.vars.value.id, 'slug': form.vars.value.slug}) }}" class="text-decoration-none">Revenir sur l'article</a>

            </p>
        </div>

        <div class="row">

            <div class="col-12 col-md-8 mx-auto">
                {{ form(form) }}
            </div>

        </div>

    </div>

{% endblock %}

