{# Route de la page actuelle #}
{% set route = app.request.attributes.get('_route') %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# Block title #}
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
    {# Font awesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    {# bootstrap #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    {# styles.css #}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {# block css #}
    {% block css %}{% endblock %}

</head>
<body>

    {# menu principal #}
    {% include 'partials/_main_navbar.html.twig' %}

    {# affichage des messages flash #}
    {% include 'partials/_flashes.html.twig' %}

    {# block body #}
    {% block body %}{% endblock %}



    {# bootstrap #}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}" ></script>
    {# block js #}
    {% block js %}{% endblock %}

</body>
</html>